a{
    text-decoration: none;
}
h2,p,span{
    display: none;
}
.dosay{
    height: 780px;
    background-color: #663366;
    color: white;
    display: flex;
}
.move{
    width: 721px;
    margin: 0 auto;
    align-self: center;
}
.move h2{
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
}
.move p{
    font-weight: 300;
    font-size: 1.3em;
    text-indent: 0em;
}
.move p a{
    color:rgb(153, 108, 108);
    transition: color .4s ease;
}
.move p a:hover{
    color: red;
}
.download{
    background-color: #CCCC99;
    color: rgb(44, 44, 44);
    font-weight: 300;
}
.download a{
    color: rgb(100, 100, 100); 
}
.download h2{
    font-weight: 100;
    color: rgb(20, 17, 17);
    font-size: 2.0em;
    margin: 0 auto;
    top: 10px;
    max-width: 200px;
}
figure{
    max-width: 200px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color:rgb(100, 100, 100);
    box-shadow: 0 0 10px black;
    margin: 0 auto;
    margin-top: 40px;
    padding: 2px 15px;
    transition: all .4s ease; 
}
figure:hover{
    color: black;
    box-shadow: 0 0 10px white;
}
.footer{
    background-color : #669999;
    padding: 10px 20px;
}
.log h2{
    border-bottom: 2px solid white;
    font-size: 2.0em;
}
.log_txt{
    min-width: 200px;
    background-color: red;
    color: white;
    margin: 10px 0;
    padding: 10px 10px;
}
.log_txt p{
    line-height: 50px;
}
.log_txt p:first{
    line-height: 0px;
}
.log_txt li{
    margin-left: 30px;
    line-height: 30px;
}
