
.aside{
    border-right: 3px solid black;
    width: 20%;
    min-height: 100%;
}

.main{
    width: 75%;
}

.list{
    width: 80%;
    min-height: 800px;
}

.info a{
    color: black;
    font-weight: bold;
}
.info img{
    max-width: 100%;
}
.patterns{
    width: 90%;
    min-height: 450px;
}
.patterns-list a{
    text-decoration: none;
    color: black;
}
.footer{
    width: 90%;
}
.show{
    width: 50%;
    background-color: rgb(255, 255, 255);
}
.show p{
    font-size: 1.4em;
    line-height: 1.3em;
}
.show img{
    max-width: 100%;
}
#waring{
    font-weight: bold;
}
.downloads-list {
    list-style-type: none;
}
.downloads-list li{
    border-bottom: 2px solid black;
}
.downloads-list a{
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
.download-file{
    text-decoration: none;
    color: black;
}
.file{
    border-bottom: 2px solid black;
}
.log{
    border-bottom: 2px solid black;
}
.log a{
    text-decoration: none;
    color: rgb(124, 124, 124);
}

.fade-enter-active,.fade-leave-active{
    transition: all .3s ease;
}
.fade-enter, .fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
}
@media (max-width: 1124px){
    
}
@media (max-width: 800px){
    html,body{
        overflow-x: hidden;
    }
    .main{
        border-top: 3px solid black;
    }
    .aside{
        width: 100%;
        min-height: 35%;
    }
    .list{
        min-height: 30%;
    }
    .info{
        width: 100%;
    }
    .patterns-list{
        list-style: none;
    }
    .patterns-list a{
        color:rgb(124, 124, 124);
    }
    .patterns{
        height: 50px;
    }
    .show{
        width: 100%;
    }
    .show p{
        font-size: 1.1em;
    }
    #example-1{
        width: 100%;
        margin:0 auto;
        font-size: 1.5em;
        background-color: black;
        color: white;
        cursor: pointer;
        border-radius: 10px;
        user-select: none;
    }
    #example-1 a{
        color: white;
        text-decoration: none;
    }
}