<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no">
    <title>Sprite</title>
    <link rel="stylesheet" href="../css/newindex.css">
    <link rel="stylesheet" href="../css/newindexstyle.css">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <script src="../javascript/vue.js"></script>
</head>
<body>
    <div class="page">
        <div class="aside">
            <div class="list">
                <div class="info">
                    <a href="../index.html">
                        <img src="../img/logo.png">
                    </a><br>
                    <a v-bind:href="url" id="newVersion">当前版本{{ new_version_name }}</a>
                </div>
                <nav class="patterns">
                    <ul class="patterns-list">
                        <a href="../index.html"><li>首页</li></a>
                        <a href="../downloads.html"><li>下载</li></a>
                        <a href="../news.html"><li>日志</li></a>
                        <a href="../author.html"><li>联系</li></a>
                    </ul>
                </nav>
                <div id="example-1" @click="show = !show">
                    <span >
                        菜单
                    </span>
                    <transition name="fade">
                        <p v-if="show"><a href="../index.html">首页</a></p>
                    </transition>
                    <transition name="fade">
                        <p v-if="show"><a v-if="show" href="../downloads.html">下载</a></p>
                    </transition>
                    <transition name="fade">
                        <p v-if="show"><a v-if="show" href="../news.html">日志</a></p>
                    </transition>
                    <transition name="fade">
                        <p v-if="show"><a v-if="show" href="../author.html">联系</a></p>
                    </transition>
                </div>
                <div class="footer">
                    <span><small>&copy;sjhzh 2021-2022</small></span><br>
                    <span><small>本站提供的产品仅用于浏览、测试网站，严禁用于攻击他人的公司或系统，亦禁止随意传播。对于不听劝告而触犯法律的行为，一切责任均由当事人承担。</small></span>  
                </div>
            </div>
        </div>
        <div class="main">
            <div class="show">
                <h1>Sprite version</h1>
                <p>发布日期: </p>
                <p>下载64位</p>
                <p>下载32位</p>
            </div>
        </div>
    </div>
    <script src="../javascript/d_change_version.js"></script>
    <script src="../javascript/toggle.js"></script>
</body>
</html>